.sources {
    position: fixed;
    top: 120px;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80px;
    max-height: 200px;
    overflow: auto;
    align-items: center;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    background-color: rgba(var(--bgAlpha));
    z-index: 5;
    transition: transform 1s linear;
}


body.transform .sources {
    transform: translateY(calc(-100% - 300px));
}

@media screen and (max-width: 557px) {
    .sources {
        top: 150px;
    }
}
@media screen and (max-width: 302px) {
    .sources {
        top: 200px;
    }
}

@media screen and (max-width: 219px) {
    .sources {
        top: 240px;
    }
  
}

.source__item {
    background: none;
    border: 2px solid var(--main-color);
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--main-color);
    transition: 0.25s;
    cursor: pointer;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .source__item {
        margin: 0.25em;
    padding: .5em 1em;
    }
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}
