.menu-page .menu-link__link:before {
  transform: scaleX(1);
  opacity: 1;
}
.menu-page .section__title {
  max-width: 800px;
  text-align: center;
  margin: 0;
}

.menu-page > .section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

/* tabs */

.tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  /* gap: 16px; */
  /* margin-bottom: 38px; */
  margin-bottom: -2px;
}

.tab__input {
  display: none;
}
.tab__input:checked ~ label {
  background: var(--bg-container);
  color: var(--text-light);
  cursor: default;
  pointer-events: none;
}
@media (hover: hover) {
  .tab__input:checked ~ label > .tab__img,
  .tab__btn:hover > .tab__img {
    background-color: var(--bg-body);
  }
}

.tab__btn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 7.5px 15.5px 7.5px 7.5px;
  border: 1px solid var(--border-light);
  border-radius: 23px;
  background-color: transparent;
  transition: all 0.25s linear;
}
@media (hover: hover) {
  .tab__btn:hover {
    cursor: pointer;
    background: var(--bg-container);
    color: var(--text-light);
  }
}

.tab__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-color: var(--border-light);
  background-repeat: no-repeat;
}

.tab__item:nth-child(1) .tab__img {
  background-image: url(../assets/images/menu-btns/coffee.png);
}
.tab__item:nth-child(2) .tab__img {
  background-image: url(../assets/images/menu-btns/tea.png);
}
.tab__item:nth-child(3) .tab__img {
  background-image: url(../assets/images/menu-btns/dessert.png);
}

/* cards */
.cards {
  display: flex;
  column-gap: 40px;
  row-gap: 38px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__item {
  display: none;
  width: 100%;
  max-width: 310px;
  flex-direction: column;
  border-radius: 40px;
  border: 1px solid var(--border-light);
}
.cards__item:nth-of-type(1),
.cards__item:nth-of-type(2),
.cards__item:nth-of-type(3),
.cards__item:nth-of-type(4) {
  display: flex;
}

@media (hover: hover) {
  .cards__item:hover {
    cursor: pointer;
  }
  .cards__item:hover .cards__img {
    transform: scale(0.95);
  }
}

.cards__img-wrap {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
}

.cards__img {
  transform: scale(1);
  transition: transform 0.25s linear;
}

.cards__text {
  height: 196px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--text-dark);
}

.cards__name,
.cards__price {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
}
.cards__price {
  margin-top: auto;
}
.cards__description {
  margin: 12px 0 0;
  font-weight: 400;
}
.more {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--border-dark);
}
@media (hover: hover) {
  .more:hover {
    cursor: pointer;
  }
}

.more__icon {
  fill: none;
}

@media screen and (max-width: 360px) {
  .cards__img {
    width: 100%;
  }
  .cards__img-wrap {
    height: auto;
  }
}
@media screen and (min-width: 540px) {
  .tab {
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .cards__item:nth-of-type(5),
  .cards__item:nth-of-type(6),
  .cards__item:nth-of-type(7),
  .cards__item:nth-of-type(8) {
    display: flex;
  }
  .more {
    display: none;
  }
}
