@import url(../../../common.scss);
.table {
  width: 50%;

  margin: 1rem;
  align-self: center;
  font-size: 1.5rem;
  border-collapse: collapse;
  order: 1;
}

.table__td,
.table__th {
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-family: "Philosopher", sans-serif;
  text-align: center;

  &_name {
    font-family: "Dancing Script", cursive;
  }
}
.table__td_car {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .table__td,
  .table__th {
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
  }
}
