.accordion {
  grid-area: accordion;
  padding: 1rem;
  cursor: pointer;
  width: max-content;
  font-size: 2rem;
  color: #fff;
}

.accordion__list {
  position: relative;
  padding: 2rem;
  width: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.complexity {
  width: 100%;
  text-shadow: black 1px 1px;
}
.complexity:nth-of-type(1) {
  background-color: rgba(0, 238, 20, 0.5);
}
.complexity:nth-of-type(2) {
  background-color: rgba(255, 255, 0, 0.5);
}
.complexity:nth-of-type(3) {
  background-color: rgba(255, 0, 0, 0.5);
}
.complexity__list {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.25s linear;
}
.complexity__item {
  padding: 0 1rem;
  text-align: center;
  position: relative;
}

.complexity__text {
  margin: 0;
  padding: 0.5rem 1rem;
  position: relative;
}

.complexity__text:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;

  height: 1px;
  background-color: #000;
  transition: all 0.3s linear;
}
.complexity__text:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 100%;

  height: 1px;
  background-color: #000;
  transition: all 0.3s linear;
}

.complexity:has(.show) > .complexity__text:before {
  right: 50%;
}
.complexity:has(.show) > .complexity__text:after {
  left: 50%;
}

/* .complexity__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
} */

.complexity__list.show {
  overflow: auto;
  height: calc(6 * 2rem);
  overflow: hidden;
}
