/* H E A D E R */
header {
  background-color: var(--bgColor);
  color: var(--color);
  transition: all 0.25s linear;
}

.header__wrap {
  /* height: 90px; */
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: var(--color) solid 1px;
}

.header__title {
  flex-grow: 1;
  font-size: 2.5rem;
  font-family: "Gochi Hand", "Inter", sans-serif;

  font-weight: 400;
  line-height: 1.66667;
  letter-spacing: 0.5px;
  margin: 0;
}

.header__title::first-letter {
  color: red;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__link {
  font-family: "Pacifico", cursive;
  font-size: 1.3rem;
  padding: 10px;
  line-height: 2.5;
  transition: color 0.25s linear;
}
.header__link:hover,
.header__link:focus {
  color: var(--accent);
}

/* theme button */
.theme-btn {
  display: flex;

  background-color: transparent;
  border-radius: 15px;
  padding: 3px;
  width: max-content;
  height: 55px;

  border: 2px solid var(--color);
  background-color: var(--bgColor);
  color: var(--color);

  transition: all 0.25s linear;
}

.theme-btn:hover {
  cursor: pointer;
}

.theme-btn__input {
  display: none;
}

/* .theme-btn:has(.theme-btn__input:checked) {
  align-items: end;
} */
.theme-btn__inner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color);
  transition: transform 0.25s linear;
}
.theme-btn__input:checked + .theme-btn__inner {
  transform: translateY(25px);
}

/* burger */
.burger-wrap {
  position: relative;
  display: none;
  padding: 5px;
  cursor: pointer;
  transition: right 0.4s linear, color 0.25s linear;
  z-index: 20;
}
.burger-wrap:hover {
  color: var(--accent);
}

.burger {
  width: 45px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger__line {
  height: 2px;
  background-color: currentColor;
  opacity: 1;
  transition: transform 0.5s linear, opacity 0.5s linear;
}

/* M O B I L E */
.bg-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--colorAlpha), 0.2);
  z-index: 10;
  transition: all 0.8s linear;
}
.mobile {
  position: absolute;
  width: 100%;
  height: calc(100vh - 98px);
  padding: 80px;
  background-color: rgba(var(--bgColorAlpha), 0.7);
  right: 0;
  top: 0;
  transform: translateY(-200vh);
  transition: all 0.4s linear;
}
.mobile__nav__item {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 20px;
  transform: rotateX(180deg);
  transition: color 0.25s linear;
}
.mobile__nav__item:hover,
.mobile__nav__item:focus {
  color: var(--accent);
}

.mobile__nav__item:nth-of-type(1) {
  transition: transform 0.8s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(2) {
  transition: transform 1s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(3) {
  transition: transform 1.2s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(4) {
  transition: transform 1.4s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(5) {
  transition: transform 1.6s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(6) {
  transition: transform 1.8s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}
.mobile__nav__item:nth-of-type(7) {
  transition: transform 2s cubic-bezier(0.48, -0.05, 0.78, 0.85);
}

.mobile__nav__item:nth-of-type(even) {
  text-align: right;
}
/* visible */
.bg-mobile.visibleMobile .mobile__nav__item {
  transform: rotateX(0);
}

.bg-mobile.visibleMobile {
  bottom: 0;
}
.mobile.visibleMobile {
  transform: translateY(0);
}

.burger-wrap.visibleMobile .burger__line:nth-of-type(1) {
  transform: rotate(45deg) translateY(14px);
}
.burger-wrap.visibleMobile .burger__line:nth-of-type(2) {
  opacity: 0;
}
.burger-wrap.visibleMobile .burger__line:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-14px);
}

body.visibleMobile {
  overflow: hidden;
}

@media screen and (max-width: 1128px) {
  .header__nav {
    display: none;
  }

  .burger-wrap {
    display: block;
  }

  .menu {
    flex-direction: column;
    gap: 40px;
  }
  .menu__right {
    margin-left: auto;
  }

  .contacts__wrap {
    flex-direction: column;
    gap: 100px;
  }
}
