.table {
  border-collapse: collapse;
}

th,
td {
  width: 2rem;
  height: 2rem;
  border: solid 1px;
  text-align: center;
}
.table__th {
  font-weight: 900;
  background-color: #ccc;
}
.table__unused-th {
  background-color: #ccc;
}
