.page {
  display: none;
  margin-top: 80px;
  flex-direction: column;

  &.active-page {
    display: flex;
  }
}

.title {
  font-family: "Luckiest Guy";
  font-size: 2rem;
  color: var(--main-color);
}

.page-num {
  margin-top: 1rem;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  color: var(--main-color);
}
