@import url("../../../common.scss");

.block-wrap {
  // width: calc(var(--tablet));
  padding: var(--padBlock);
  background-color: var(--bg-block);
  border: 1px solid var(--main-color);
}
.block {
  width: calc(var(--tablet) - 2 * var(--padBlock));
  border: 1px solid var(--error-color);
}

.result-block-wrap {
  margin-top: 120px;
}

.data-block-wrap {
  margin-top: 50px;
}

.result-block {
  height: calc(var(--tablet) * 858 / 1300);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.data-block {
  display: flex;
  justify-content: space-between;
  height: calc(var(--tablet) * 858 / 13000);
  align-items: center;
}

.puzzle {
  border: 1px solid var(--main-color);
  font:
    400 1.5rem/1 "Philosopher",
    sans-serif;
}
