@import url("../../../common.scss");

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.block-wrap {
  // width: calc(var(--tablet));
  padding: var(--padBlock);
  background-color: var(--bg-block);
  border: 1px solid var(--main-color);
}
.block {
  justify-content: start;
  width: calc(var(--tablet) - 2 * var(--padBlock));
  border: 1px solid var(--error-color);
}

.result-block-wrap {
  margin-top: 120px;
}

// .data-block-wrap {
// }

.result-block {
  position: relative;
  height: calc(var(--tablet) * 858 / 1300);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  //   mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);
  // mask-size: 100vmin;
  background-repeat: no-repeat;
  background-clip: content-box;
  padding-bottom: calc(var(--tablet) * 858 / 1300);
}

.result-block__line {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: calc(var(--tablet) * 858 / 13000);
}

.data-block {
  display: flex;
  height: calc(var(--tablet) * 858 / 13000);
  align-items: center;
}

.puzzle {
  position: relative;
  border: 1px solid var(--main-color);
  background-color: transparent;
  font:
    400 1.2rem/1.5 "Luckiest Guy",
    sans-serif;
  color: #fff;
  text-shadow: 2px 2px var(--second-color);
  -webkit-text-stroke: 1px #000;
  cursor: pointer;
  transition:
    transform 0.3s linear,
    filter 0.3s linear;
  &:hover {
    filter: brightness(1.2);
  }
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.width-zero {
  width: 0;
  padding: 0 !important;
  border: none;
  font-size: 0 !important;
}

.game__buttons-wrap {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.game__check-continue-wrap {
  height: 53px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.game__btn-auto-complete {
  font:
    900 2rem/1 "Philosopher",
    sans-serif;
  &:not(:disabled) {
    padding: 0.5rem 1rem;
    color: rgb(var(--error-color));
    &:hover {
      color: #fff;
      background-color: rgba(var(--error-color), 0.3);
    }
  }
}
.game__btn-continue,
.game__btn-check {
  font:
    900 2rem/1 "Philosopher",
    sans-serif;
  padding: 0.5rem 1rem;
  transform: translateY(calc(-100% - 2rem));
  transition: transform 0.3s linear;
}

.game__btn-continue:not(:disabled),
.game__btn-check:not(:disabled) {
  color: rgb(var(--success-color));
}
.game__btn-continue:not(:disabled) ~ .game__btn-check {
  transform: translateY(0);
}
.game__btn-continue:not(:disabled) {
  transform: translateY(0);
}

.correct-puzzle {
  border-bottom: 12px rgb(var(--success-color)) double;
}
.wrong-puzzle {
  border-bottom: 12px rgb(var(--error-color)) double;
}
