@import url("../../../common.scss");

.btns-wrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
  order: 2;
  z-index: 5;
}
