/* FOOTER */
@import url(../../../style.css);
footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  width: 100%;
  padding: 15px 20px;
  background-color: var(--bgColor);
  border-top: solid 1px var(--color);
  border-top: 1px solid var(--main-color);

  transition: all 0.25s linear;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}
.contacts__link {
  color: var(--main-color);
  transition: color 0.3s linear;
}
.contacts__link:hover,
.contacts__link:active {
  color: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;

  // &:hover{
  //   fill: var(--accent-color);
  // }
}

/* logo */
.logo {
  width: 100px;
  color: var(--color);
  transition: color 0.3s linear;
}
.st0,
.st5,
.st7,
.st9 {
  fill: currentColor;
  stroke: currentColor;
}
.logo__svg {
  width: 100px;
  padding-right: 10px;
}

.logo:hover {
  animation: shake-rotate 1s linear;
  color: var(--accent);
}

.logo > a,
.year,
.footer__list {
  font-size: 1.5rem;
}

.cross.block {
  display: block;
}
.modal__label-name.block {
  display: block;
}
.table.block {
  display: flex;
}

.shake-rotate {
  animation: shake-rotate 1s linear infinite;
}
