@import url(../../../style.css);

main {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  height: calc(100vh - 200px);
  border: 1px solid var(--main-color);
  border-radius: 1rem;
}

// U S E R S
.users {
  width: max-content;
  overflow-y: auto;
}

.users__search {
  margin: 1rem 0.2rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.users__list {
  list-style: none;
  margin: 0;
  padding: 0.5rem 0 0.5rem 2rem;

  &-active {
    background-color: rgba(var(--success-color), 0.1);
  }
  &-passive {
    background-color: rgba(var(--error-color), 0.1);
  }
}

.users__item {
  position: relative;
  cursor: pointer;
  padding-bottom: 0.2rem;
  font:
    400 1.2rem / 1.2 "Philosopher",
    sans-serif;
}

.un-read-messages {
  min-width: 1.5rem;
  position: absolute;
  right: 0;
  padding: 0.1rem, 0.2rem;
  text-align: center;
  border: 1px solid rgb(var(--error-color));
  border-radius: 50%;
}

.users__item::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.user-active::before {
  background-color: rgb(var(--success-color));
}
.user-passive::before {
  background-color: rgb(var(--error-color));
}

// M E S S A G E S

.messages {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.messages__status {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  font:
    400 1.5rem / 1.2 "Philosopher",
    sans-serif;
}

.messages__field {
  flex-grow: 2;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  width: max-content;
  padding: 1rem 0.5rem;
  background-color: rgba(var(--success-color), 0.1);
  border-radius: 1rem;
}

.right-message {
  align-self: flex-end;
  margin-right: 1rem;
  background-color: rgba(var(--error-color), 0.1);
}

.messages__form {
  display: flex;
  gap: 1rem;
}

.messages__input {
  padding: 0.5rem;
  height: 4rem;
  flex-grow: 2;
  border-radius: 1rem;
  font: 200 1.5rem / 1.1 "Lobster";
}

.messages__button {
  padding: 1rem 0.5rem 0.5rem 1rem;
  font: 400 2rem / 1 "Luckiest Guy";
  letter-spacing: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  background-color: rgba(var(--error-color), 0.2);
  transition: background-color 0.25s linear;
}

.messages__button:not(:disabled) {
  cursor: pointer;
  background-color: rgba(var(--success-color), 0.2);
}
