:root {
    --main-color: #30c5ff;
    --accent-color: #ff5d52;
    --accent-rgb: 255, 93, 82;
    --second-color: #fff;
    --logoJS: #ff5d52;
    --bg: #17181c;
    --bgAlpha: 23, 24, 28, 0.7;
}

* {
    box-sizing: border-box;
    font-family: 'Hind Madurai';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
body {
    color: var(--second-color);
    background: var(--bg);
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 5;
    background-color: rgba(var(--bgAlpha));
    transition: transform 1s linear;
}

body.transform header {
    transform: translateY(-200px);
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

/* footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.lang-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}
.lang-item {
    font-size: 1.5rem;
    padding: 5px 10px;
    color: var(--second-color);
    border: solid 1px currentColor;
}
.lang-item:hover {
    cursor: pointer;
    color: var(--main-color);
}

.un-transform {
    position: fixed;
    opacity: 0;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    color: var(--main-color);
    border: none;
    background-color: transparent;
    font: 1rem bold;
    transform: color 0.3s linear;
    z-index: 3;
}
.un-transform path{
    transition: all .5s linear;
}
.un-transform:hover {
    cursor: pointer;
    color: var(--accent-color)
}
body.transform .un-transform {
    opacity: 1;
}

.lang-item.checked {
    color: var(--main-color);
}
