@import url("../../../common.scss");

.button {
  padding: 0.5rem 1rem 0.35rem;
  font-family: "Luckiest Guy";
  font-size: 1rem;
  border-radius: 2rem;
  transition: all 0.5s linear;
  border: 1px solid currentColor;
  &:hover:not(:disabled) {
    cursor: pointer;
    color: #fff;
    background-color: rgba(var(--success-color), 0.3);
  }
}

.disabled {
  position: absolute;
  z-index: -10;
}
