@import url(../../../common.scss);
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-color);
  transform: translateY(-100vh);
  transition: transform 0.5s linear;

  &.show {
    transform: translateY(0);
  }

  &__logo {
    margin-top: 10px;
    padding-right: 10px;
    font:
      400 2rem/1 "Luckiest Guy",
      cursive;
  }
}

.logout {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  &__user {
    font:
      400 2rem/1 "Dancing Script",
      cursive;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px 15px;
    background-color: transparent;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: none;
    font:
      400 2rem/1 "Philosopher",
      sans-serif;
    transition: color 0.5s linear;
    &:hover {
      cursor: pointer;
      color: rgb(var(--error-color));
    }
  }
  &__svg {
    width: 2rem;
    transform: translateX(-5px);
  }
}
.arrow-logout {
  transform: translateX(-4px);
  transition: transform 0.5s linear;
}

.logout__btn:hover .arrow-logout {
  transform: translateX(1px);
}

.welcome {
  position: relative;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(-100vh - 200px));
  transition: all 0.5s linear;
  overflow: auto;

  &.show {
    transform: translateY(0);
    height: calc(100vh - 100px);
    padding-top: 100px;
  }

  &__title {
    font: 400 4rem / 1 "Luckiest Guy";
    color: var(--second-color);
    text-shadow: 5px 5px var(--main-color);
  }

  &__describe {
    font:
      400 1.5rem / 1.2 "Philosopher",
      sans-serif;
  }
  &__luck {
    font:
      400 3rem/1 "Dancing Script",
      cursive;
  }
  &__button {
    margin-top: 2rem;
    padding: 2rem 1.5rem 15px;
    font-size: 3rem;
    background-color: transparent;
    &:hover {
      background-color: var(--main-color);
      color: var(--second-color);
    }
  }
  &__user-name {
    position: absolute;
    top: 100px;
    font: 900 3rem/1 "Dancing Script";
    animation: colorChange 2s linear infinite;
  }
}
@media screen and (max-width: 800px) {
  .welcome {
    gap: 1rem;
    &__title {
      font-size: 2rem;
    }

    &__describe {
      font-size: 1rem;
    }
    &__luck {
      font-size: 1.5rem;
    }
    &__button {
      margin-top: 2rem;
      padding: 1rem 0.7rem 7px;
      font-size: 1.5rem;
    }
  }
}

.bg-image-welcome {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(100vw * 831 / 1016);
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: -5;
  background-image: url(../../../assets/bg_puzzle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  &.show {
    opacity: 0.4;
  }
}

@keyframes colorChange {
  0% {
    color: rgb(var(--succes-color));
  }
  100% {
    color: rgb(var(--error-color));
  }
}
