/* Question */
.section-text__question {
  font-size: 1.5rem;
}

/* Answer */
.answer {
  font-size: 2.5rem;
}
.answer__list,
.keyboard__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.answer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  justify-content: center;
  max-width: 600px;
}
.answer__item {
  display: flex;
  justify-content: center;
  width: 3.5rem;
  font-size: 3.5rem;
  color: black;
  background-color: black;
}

.answer__item.choice {
  background-color: transparent;
}

.answer__char {
  color: inherit;
}

/* Guesses */
.section-text__guesses {
  font-size: 1.8rem;
}
.section-text__number {
  display: inline-block;
  font-weight: 900;
}
.section-text__number::first-letter {
  text-shadow: 1px 1px black;
}
.section-text__number_fine::first-letter {
  color: green;
}
.section-text__number_warn::first-letter {
  color: yellow;
}
.section-text__number_danger::first-letter {
  color: red;
}

/* KEYBOARD */
.keyboard {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;
}
.keyboard__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.keyboard__item {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard__item:not(.checked):hover {
  animation: shake-rotate 1s linear infinite;
}

.keyboard__item.checked {
  background-color: #777;
  color: black;
}

.keyboard__btn {
  padding: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}
.keyboard__btn:not(:disabled):hover {
  cursor: pointer;
}

/* Animation */

@keyframes shake-rotate {
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
