@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Luckiest+Guy&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap);
:root {
  --main-color: #111;
  --success-color: 7, 246, 35;
  --error-color: 216, 26, 9;
  --bg-color: #eee;
  --padBlock: 1rem;
  --accent-color: #03b8fb;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: currentColor;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.about__link {
  font:
    400 2rem / 1 "Philosopher",
    sans-serif;
  color: var(--main-color);
  transition: color 0.3s linear;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.error-bg {
  background-color: rgba(var(--error-color), 0.7);
}

.success-bg {
  background-color: rgba(var(--success-color), 0.7);
}

.notify-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 3rem;
}
.notify-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 900 4.5rem / 1.1 "Lobster";
  color: var(--accent-color);
  -webkit-text-stroke: white 1px;
}

/* Animation */

@keyframes shake-rotate {
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.about{display:flex;flex-direction:column;gap:5rem;align-items:center}.about__describe{text-align:center;font:400 2rem/1 "Philosopher",sans-serif}.about__button{padding:1.5rem 1.5rem 1rem 2.5rem;border:1px solid var(--main-color);border-radius:1rem;font-size:2rem;font-family:"Luckiest Guy";letter-spacing:1rem;transition:all .3s linear}.about__button:hover{cursor:pointer;border-color:rgb(var(--success-color));background-color:rgba(var(--success-color), 0.3)}
footer{position:fixed;bottom:0;z-index:5;display:flex;justify-content:space-between;align-items:center;color:var(--color);width:100%;padding:15px 20px;background-color:var(--bgColor);border-top:solid 1px var(--color);border-top:1px solid var(--main-color);transition:all .25s linear}.footer__list{list-style:none;margin:0;padding:0;display:flex;gap:.5rem}.contacts__link{color:var(--main-color);transition:color .3s linear}.contacts__link:hover,.contacts__link:active{color:var(--accent-color)}.contacts__icon{fill:currentColor}.logo{width:100px;color:var(--color);transition:color .3s linear}.st0,.st5,.st7,.st9{fill:currentColor;stroke:currentColor}.logo__svg{width:100px;padding-right:10px}.logo:hover{animation:shake-rotate 1s linear;color:var(--accent)}.logo>a,.year,.footer__list{font-size:1.5rem}.cross.block{display:block}.modal__label-name.block{display:block}.table.block{display:flex}.shake-rotate{animation:shake-rotate 1s linear infinite}
main{margin-top:7rem;display:flex;justify-content:center;gap:1rem;padding-left:.5rem;padding-right:.5rem}.section{height:calc(100vh - 200px);min-width:300px;border:1px solid var(--main-color);border-radius:1rem}.users{width:max-content;overflow-y:auto}.users__search{display:block;margin:1rem auto;height:2rem;width:calc(100% - 2rem);background-color:rgba(0,0,0,0);border:1px solid var(--main-color);border-radius:5px}.users__list{list-style:none;margin:0;padding:.5rem 0 .5rem 2rem}.users__list-active{background-color:rgba(var(--success-color), 0.1)}.users__list-passive{background-color:rgba(var(--error-color), 0.1)}.users__item{position:relative;cursor:pointer;padding-bottom:.2rem;font:400 1.2rem/1.2 "Philosopher",sans-serif}.un-read-messages{min-width:1.5rem;position:absolute;right:0;padding:.1rem,.2rem;text-align:center;border:1px solid rgb(var(--error-color));border-radius:50%}.users__item::before{content:"";position:absolute;left:-1rem;top:50%;transform:translateY(-50%);width:.5rem;height:.5rem;border-radius:50%}.user-active::before{background-color:rgb(var(--success-color))}.user-passive::before{background-color:rgb(var(--error-color))}.messages{flex-grow:2;display:flex;flex-direction:column;padding:1rem}.messages__status{display:flex;justify-content:space-between;height:3rem;padding:.5rem 3rem;margin:1rem 0;border:1px solid var(--main-color);border-radius:1rem;font:400 1.5rem/1.2 "Philosopher",sans-serif}.messages__field{position:relative;padding:1rem;flex-grow:2;overflow:auto;display:flex;flex-direction:column;gap:1rem}.message{width:70%;padding:1rem .5rem;background-color:rgba(var(--success-color), 0.1);border-radius:1rem}.right-message{align-self:flex-end;margin-right:1rem;background-color:rgba(var(--error-color), 0.1)}.field__message-center{align-self:center;justify-self:center}.message__top,.messages__button{display:flex;justify-content:space-between}.message__text{padding:1rem;margin:1rem;border:1px solid var(--main-color);border-radius:1rem;background-color:#adf;font:200 1.5rem/1.1 "Lobster";text-wrap:wrap;overflow:auto}.not-read{margin:0 auto}.messages__form{display:flex;gap:1rem}.messages__input{padding:.5rem;height:4rem;flex-grow:2;border-radius:1rem;font:200 1.5rem/1.1 "Lobster"}.messages__input::placeholder{font:100 1.3rem/1.1 "Philosopher",sans-serif}.messages__button{padding:1rem .5rem .5rem 1rem;font:400 2rem/1 "Luckiest Guy";letter-spacing:.5rem;border:1px solid var(--main-color);border-radius:1rem;background-color:rgba(var(--error-color), 0.2);transition:background-color .25s linear}.messages__button:not(:disabled){cursor:pointer;background-color:rgba(var(--success-color), 0.2)}
.header{position:fixed;top:0;width:100%;padding:1rem;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid var(--main-color);z-index:20}.header__logo{margin-top:10px;padding-right:10px;font:400 2rem/1 "Luckiest Guy",cursive}.logout{display:flex;gap:1.5rem;align-items:center}.logout__user{font:400 2rem/1 "Dancing Script",cursive}.logout__btn{display:flex;align-items:center;gap:1rem;padding:5px 15px;background-color:rgba(0,0,0,0);border-top-left-radius:1rem;border-bottom-left-radius:1rem;border-right:none;font:400 2rem/1 "Philosopher",sans-serif;transition:color .5s linear}.logout__btn:hover{cursor:pointer;color:rgb(var(--error-color))}.logout__svg{width:2rem;transform:translateX(-5px)}.arrow-logout{transform:translateX(-4px);transition:transform .5s linear}.logout__btn:hover .arrow-logout{transform:translateX(1px)}

.login{height:calc(100vh - 100px);display:flex;flex-direction:column;justify-content:center;align-items:center;gap:3rem}.login__form{display:flex;flex-direction:column;justify-content:center;gap:4rem;width:500px}.login__label{position:relative}.login__input{width:100%;margin-bottom:10px;padding:10px;font-size:2.5rem;font-family:"Philosopher",sans-serif;font-style:italic;border:2px solid currentColor;border-radius:.7rem;transition:all .5s linear}.login__input::placeholder{font:100 2rem "Dancing Script" cursive;color:var(--main-color)}.login__input.correct{border-color:rgb(var(--success-color));background-color:rgba(var(--success-color), 0.2)}.login__input.wrong{border-color:rgb(var(--error-color));background-color:rgba(var(--error-color), 0.2)}.login__input-submit{padding-top:22px;font-family:"Luckiest Guy";border-radius:2rem;background-color:rgb(var(--error-color));color:#fff;transition:background-color .5s linear}.login__input-submit:not(:disabled){cursor:pointer}.login__span{position:absolute;bottom:-1.5rem;left:0;color:rgb(var(--error-color));font-size:1.4rem}.login__input-submit:enabled{background-color:rgb(var(--success-color))}.page__title{font-size:3rem;font-family:"Luckiest Guy"}
