:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --bg-body: #e1d4c9;
  --bg-container: #665f55;
  --bg-backdrop: 64, 63, 61, 0.8;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --desktop: 1440px;
  --tablet: 768px;
  --mobile: 380px;
  --padding: 40px;
  --padding-mobile: 16px;
}

* {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  /* outline: 1px solid blue; */
}

body {
  background-color: var(--bg-body);
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.container {
  max-width: var(--desktop);
  margin: 0 auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
  outline: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--text-dark);
}

.nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu-link {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 4px;
}
.menu-link__icon {
  position: relative;
  bottom: 2px;
}
