.hero {
  color: var(--text-light);
  padding: 100px;
  border-radius: 40px;
  background-image: url(../assets/images/hero-bg.jpeg);
  background-position: center;
  background-size: cover;
}
.hero__container {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.05;
  word-spacing: 0;
  color: var(--text-light);
}
.hero__title-accent {
  font-style: italic;
  color: var(--text-accent);
  line-height: inherit;
}
.hero__describe {
  margin: 0;
  font-weight: 400;
  color: var(--text-light);
}
.hero__button {
  width: 200px;
  padding: 20px 0;
  border: none;
  border-radius: 100px;
  line-height: 1.5;
  background-color: var(--bg-body);
}
.section__title {
  margin: 0 0 40px;
  font-size: 60px;
  line-height: 1.25;
}
.section__title-accent {
  font-style: italic;
  color: var(--text-accent);
  line-height: inherit;
}

/* F A V O R I T E */
.favorite .section__title {
  text-align: center;
}

/* Slider */
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.slider__text {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.slider__name,
.slider__price {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
}
.slider__description {
  margin: 0;
  font-weight: 400;
  text-align: center;
}
.slider__tabs {
  margin: 40px 0 0;
  display: flex;
  gap: 12px;
}
.slider__inner {
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
}

.slider__input {
  display: none;
}

.slider__input:checked + .slider__label > .slider__inner {
  background-color: var(--border-dark);
}

/* A B O U T */

.about__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 430px 40px 120px 40px 430px;
  grid-column-gap: 40px;

  /* flex-wrap: wrap; */
}
.about__item {
  width: 660px;
  border-radius: 20px;
  background-position: center;
}
.about__item:hover {
  background-size: cover;
}

.about__item:nth-of-type(1) {
  /* height: 590px; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(../assets/images/about/about-1.jpg);
}
.about__item:nth-of-type(2) {
  /* height: 430px; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(../assets/images/about/about-2.jpg);
}
.about__item:nth-of-type(3) {
  /* height: 430px; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  background-image: url(../assets/images/about/about-3.jpg);
}
.about__item:nth-of-type(4) {
  /* height: 590px; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
  background-image: url(../assets/images/about/about-4.jpg);
}

/* M O B I L E */
.mobile {
  display: flex;
  justify-content: space-between;
}

.mobile__left,
.mobile__right {
  width: 630px;
}

.mobile .section__title {
  text-align: left;
}

.mobile__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile__description {
  margin: 0 0 40px;
  font-weight: 400;
}

.mobile__btns {
  margin: 0;
  display: flex;
  gap: 20px;
}

.mobile__btn {
  width: 200px;
  align-items: center;
  display: flex;
  padding: 12px 20px;
  gap: 8px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.25s linear;
}

.mobile__btn:hover {
  cursor: pointer;
  background: var(--bg-container);
  color: var(--text-light);
}

.mobile__desc {
  text-align: left;
  font-size: 10px;
  line-height: 1.4;
  color: inherit;
}

.mobile__brand {
  color: inherit;
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
}

.mobile__right {
  height: 630px;
  background-image: url(../assets/images/mobile-screens.png);
}
