@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Luckiest+Guy&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --tablet: 720px;
  --main-color: #333;
  --second-color: #eee;
  --succes-color: 7, 246, 35;
  --error-color: 216, 26, 9;
  --bg-block: #d5cad9;
  --padBlock: 1rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: calc(var(--tablet) + 2 * var(--padBlock));
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button {
  font-family: "Luckiest Guy";
  border-radius: 2rem;
  transition:
    background-color 0.5s linear,
    color 0.5s linear;
  &:hover {
    cursor: pointer;
  }
}
